name: pull request with activity types
on:
  pull_request:
    types:
      - opened
    branches:
      - main
  push:
    branches:
      - master
      - dev
    paths-ignore:
      - '.github/workflows/*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: message
        run: echo "Thanks for push / pull request"     